.col-lg-3.cach img {
    width: auto; /* Đảm bảo chiều rộng tự động điều chỉnh */
    height: 200px; /* Thiết lập chiều cao cố định */
    object-fit: cover; /* Đảm bảo hình ảnh luôn hiển thị nằm ngang mà không bị méo */
}

.product {
    display: flex;
    align-items: center;
}

.product-info {
    margin-left: 10px; /* Để tạo khoảng cách giữa tiêu đề và giá tiền */
}

.price {
    display: block;
}
.woo-variation-swatches.wvs-show-label .variations td, .woo-variation-swatches.wvs-show-label .variations th {
    display: block;
    width: auto !important;
}
.variations td, .variations th {
    border: 0;
    letter-spacing: normal;
    padding: .2em 0;
    text-transform: none;
    vertical-align: middle;
}
td:last-child, th:last-child {
    padding-right: 0;
}
td {
    color: #666;
}
td, th {
    border-bottom: 1px solid #ececec;
    font-size: .9em;
    line-height: 1.3;
    padding: .5em;
    text-align: left;
}
*, :after, :before, html {
    box-sizing: border-box;
}
user agent stylesheet
td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}
table {
    border-color: #ececec;
    border-spacing: 0;
    margin-bottom: 1em;
    width: 100%;
}
user agent stylesheet
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}